
body {
    background-color: #c2f0f0;
    margin: 0;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 7px;
    width: 5%;
}

img {
    position: relative;
    left: 75px;
    
}

h1 {
    color: teal;
    margin-top: 0;
    position: relative;
    left: 30px;
}

h2 {
    color: #66BFBF;
    position: relative;
    left: 30px;
}

h3 {
    color: #66BFBF;
    position: relative;
    left: 30px;
}
ul {
    color: teal;
    position: relative;
    left: 30px;
}

#heading {
    color:teal;
    font-size: 75px;
}
